@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0085ff;
  --primary-focus: #0050e3;
  --primary-content: #000000;

  --secondary: #ffb21e;
  --secondary-focus: #ee9d00;
  --secondary-content: #000000;

  --accent: #63d483;
  --accent-focus: #2fad52;
  --accent-content: #000000;

  --neutral: #0f0229;
  --neutral-focus: #0a021c;
  --neutral-content: #343a40;

  --base-100: #173264;
  --base-200: #0f244a;
  --base-300: #01060f;
  --base-content: #d5ddeb;

  --input: #ffffff;
  --input-focus: #09011a;
  --input-placeholder: #8da1c9;
  --input-content: #01060f;

  --input-search: #0f0229;
  --input-search-focus: #09011a;
  --input-search-placeholder: #8da1c9;
  --input-search-content: #fff;

  --input-message: #0f0229;
  --input-message-focus: #0050e3;
  --input-message-placeholder: #8da1c9;
  --input-message-content: #ffffff;

  --card-message: #212529;
  --card-message-info: #686e75;
  --card-message-content: #ffffff;

  --info: #0446ef;
  --info-content: #003cd7;

  --success: #63d483;
  --success-content: #37b159;

  --warning: #ffb21e;
  --warning-content: #e99d0d;

  --error: #fb6262;
  --error-content: #ea4747;
}

body {
  background-color: var(--base-300);
}

.link-hover:hover svg {
  color: var(--secondary);
}

.link-hover:hover span {
  color: var(--primary);
}

.chat_room {
  scroll-behavior: smooth;
}

.chat_room::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.chat_room::-webkit-scrollbar-track {
  background-color: transparent;
}

.chat_room::-webkit-scrollbar-thumb {
  background-color: var(--base-200);
}

.profile_button:hover .profile_menu {
  display: block;
}

::-webkit-scrollbar {
  display: block;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--base-200);
}
